node_modules
coverage
build

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# package-lock.json
# public/
robot-data.json

quiz-student.txt
*.map

last_chat.txt

start-robo-dev.sh
chatData/*
private
robot-server-rpi.sh
robot-defaults.json
