[Unit]
Description=Cardboard Button Service

[Service]
ExecStart=/bin/bash -c './button-server.sh'
WorkingDirectory=/home/pi/dora-engine
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
