[Unit]
Description=Cardboard Robot Service
After=servo-head.service

[Service]
#EnvironmentFile=/etc/default/robot-server
ExecStart=/bin/bash -c './start-robot-server.sh'
WorkingDirectory=/home/pi/dora-engine
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
