[Unit]
Description=Cardboard Robot Head Service

[Service]
ExecStart=/bin/bash -c './servo-head.sh'
WorkingDirectory=/home/pi/dora-engine
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
