[Unit]
Description=Cardboard Robot Head Service

[Service]
#EnvironmentFile=/etc/default/servo-head
ExecStart=/bin/bash -c './start-servo-head.sh'
WorkingDirectory=/home/pi/dora-engine
Restart=always
User=root

[Install]
WantedBy=multi-user.target
