doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    block css
      link(rel='stylesheet', href='/css/login.css')
  body
    .loginContainer
      h1.loginTitle おしゃべりロボシステム
      form(method="POST" action="/login/admin")
        input(type="hidden" name="_csrf" value=`${csrfToken}`)
        input.loginText(type="text" name="username" placeholder="username")
        input.loginText(type="password" name="password" placeholder="password")
        input.loginButton(type="submit" value="login")
